.Projects{
    height: 41rem;
}

.projects_main {
    position: relative;
    top: 3rem;
    left: 14rem;
    display: flex;
    flex-direction: column;
    gap: 37px;
    font-family: "FuturaBQ-LightOblique" !important;
    letter-spacing: 2px;
    color: #fff;
    width: 65rem;
    cursor: pointer;
}
.pjct1 {
    font-family: "PlayfairDisplay" !important;
    font-size: 37px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 3px;
    font-style: italic;
    color: #ffffff;
}


a:hover{
    color: #c1afaf;
  
}
