.Projects{
    height: 41rem;
}

.projects_main {
    position: relative;
    top: 3rem;
    left: 14rem;
    display: flex;
    flex-direction: column;
    gap: 37px;
    font-family: "FuturaBQ-LightOblique" !important;
    letter-spacing: 2px;
    color: #fff;
    width: 65rem;
    cursor: pointer;
}
.pjct1 {
    font-family: "PlayfairDisplay" !important;
    font-size: 37px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 3px;
    font-style: italic;
    color: #ffffff;
    align-items: center;
    place-content: center;
    display: flex;
    margin-top: 32px;
}

a:hover{
    color: lightgray;
  
}

a {
    color: #224e6f;
    text-decoration: none;
    font-size: 21px;
    width: 278px;
    font-weight: 700;
    /* text-align: initial; */
    display: flex;
    place-content: center;
    margin-top: -4px;
    height: 315px;
    align-items: center;
    word-break: break-word;
    padding: 10px;
    line-height: 33px;
    text-align: center;
}

.gzPwNh {
    display: none !important;
    flex-wrap: wrap;
    margin-top: 15px !important;
}.fAowZd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 334px !important;
    width: 100% !important;
    border-radius: 20px !important;
  background: none !important;
 
    color: #fff;
    margin: 154px 25px !important;
    font-size: 4em !important;
}
.hehpda:hover:enabled, .hehpda:focus:enabled {
    color: #fff;
    background-color: rgb(34 78 111) !important;

}
.hehpda {

    outline: none;
    box-shadow: none !important;
    background: none !important;
}
.kjdfLY {
    outline: none;
    box-shadow: none !important;
    background: none !important;
}

.rec .rec-swipable{
gap: 7px !important;
}





.container .card .content {
    position: relative;
    top: -174px;
    padding: 10px 15px;
    color: #111;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: 349px;
}

.container {
    position : relative;
    width : 1100px;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-wrap: wrap;
    padding : 30px;  
  }
  
  .container .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .container .card:hover {
    height : 320px;    
  }
  
  

  

  

  
  .container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }

 
.container .card .image {
    position: relative;
    width: 261px;
    height: 265px;
    top: -41%;
    left: -3px;
    /* box-shadow: 0 5px 20px rgba(0,0,0,0.2); */
    z-index: 1;
}
.container .card .image img {
    max-width: 103%;
    border-radius: 15px;
    height: 266px;
    object-fit: cover;
}



.ref11{
    font-size: 10px !important;
}

.ref22{
    margin-top: 32px;
    text-align: center;
    font-weight: 600;
}

.sc-gsTDqH {

    width: 349.797px !important;

}


@media (max-width:600px){
    .sc-gsTDqH {

        width: 300.797px !important ;
    
    }
}