.Awardsinterest{
    background: #ffffff !important;
    height: 36rem;
}

.awrint_main {
    display: grid;
    /* max-width: 905px; */
    position: relative;
    /* left: 14rem; */
    top: 4rem;
    gap: 20rem;
  grid-template-columns: 21vw 23Vw;
    place-content: center;
}
.Awards {

    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 564px;
    max-width: 565px;
    min-width: 250px;
}
.awrd1 {
    font-family: "PlayfairDisplay" !important;
    font-size: 37px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 3px;
    font-style: italic;
    
    color: #224e6f;
}.awrd2 {
    color: #224e6f;
    font-family: "FuturaBQ-LightOblique" !important;
    font-weight: 600;
    letter-spacing: 2px;
}




.interest {
    display: flex;
    flex-direction: column;
    gap: 19px;
 
 
}
.intr1 {
    font-family: "PlayfairDisplay" !important;
    font-size: 37px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 3px;
    font-style: italic;

    color: #224e6f;
}.intr2 {
    color: #224e6f;
    font-family: "FuturaBQ-LightOblique" !important;
    font-weight: 600;
    letter-spacing: 2px;
}

@media (max-width:800px){
    .intr2 {
        color: #224e6f;
        font-family: "FuturaBQ-LightOblique" !important;
        font-weight: 600;
        letter-spacing: 2px;
        width: 180px;
    }
    
    .awrint_main {
        display: grid;
        /* max-width: 905px; */
        position: relative;
        left: -29px;
        top: 4rem;
        gap: 230px;
        grid-template-columns: 21vw 23Vw;
        place-content: center;
    }.Awards {
        display: flex;
        flex-direction: column;
        gap: 19px;
        /* width: 532px; */
        /* max-width: 565px; */
        /* min-width: 250px; */
    }
    table{
    width:318px !important;
    }
    .tt1 {
        width: 215px !important;
    }
}

@media (max-width:600px){
 
    

.Awardsinterest {
    background: #ffffff !important;
    height: 65rem;
}.awrint_main {
    grid-template-columns: repeat(1, auto);
    gap: 49px;
    left: -4px;
}

.Awards {
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 298px;
}.interest {
    display: flex;
    flex-direction: column;
    gap: 19px;
}
}