.Awardsinterest{
    background: #ffffff !important;
    height: 31rem;
}
.awrint_main {
    display: flex;
    max-width: 905px;
    position: relative;
    left: 14rem;
    top: 4rem;
    gap: 2px
}
.Awards {
    width: 67rem;
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.awrd1 {
    font-family: "PlayfairDisplay" !important;
    font-size: 37px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 3px;
    font-style: italic;
    width: 29rem;
    color: #224e6f;
}.awrd2 {
    color: #224e6f;
    font-family: "FuturaBQ-LightOblique" !important;
    font-weight: 600;
    letter-spacing: 2px;
}



.interest {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-left: -6rem;
}

.intr1 {
    font-family: "PlayfairDisplay" !important;
    font-size: 37px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 3px;
    font-style: italic;
    width: 29rem;
    color: #224e6f;
}.intr2 {
    color: #224e6f;
    font-family: "FuturaBQ-LightOblique" !important;
    font-weight: 600;
    letter-spacing: 2px;
}