@font-face {
    font-family: "PlayfairDisplay";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
      url("./Fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  }


.profile_img {
    height: 14rem;
}

.profile_img img {
    width: 10rem;
    object-fit: cover;
    border-radius: 2rem;
    padding: 14px;
    height: 12rem;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 21px;
    color: #fff;
    align-items: center;
    height: 44rem;
    margin-left: 30px;
}

.bodyimg img {
    width: 100vw;
    height: 44rem;
    object-fit: cover;
    opacity: 0.70;
    filter: brightness(0.5);
}

.total_main {
    display: flex;
    gap: 6rem;

}

h1 {
    font-family: "PlayfairDisplay" !important;
    font-size: 30px;
}
h2 {
    font-size: 20px;
    font-weight: 400;
    font-family: "FuturaBQ-LightOblique" !important;
    letter-spacing: 1px;
}h3 {
    font-size: 19px;
    font-weight: 400;
    text-align: start;
    font-family: "FuturaBQ-LightOblique" !important;
    letter-spacing: 2px;
}
.resumebtn {
    color: #fff;
    background: none;
    border: 1px solid #fff;
    width: 12rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-family: "FuturaBQ-LightOblique" !important;
    letter-spacing: 1px;
}
.resumebtn:hover{
    color: #fff;
    background: #08385d;
}
a {
    color: #fff;
    text-decoration: none;

}

.resumebtn::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
    margin: 1px 21px;
}

.resumebtn:hover::after {
    width: 149px;
    margin: 1px 21px;
}
  

.txtonimg {
    display: grid;
    flex-direction: column;
    position: relative;
    align-items: center;
    font-style: normal;
    margin-top: -8rem;
    /* margin-left: 11rem; */
    color: #fff;
    gap: 21px;
    height: 7.6rem;
    place-content: center;
    /* height: 73%; */
    top: -40%;
}

.hlo {
    font-size: 30px;
    letter-spacing: 3px;
    font-family: "FuturaBQ-LightOblique" !important;
    font-size: clamp(1rem, 2.5vw, 2rem);
}

.name {
    font-family: "PlayfairDisplay" !important;
    font-size: 72px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 3px;
    font-style: italic;
    /* width: 29rem; */
    font-size: clamp(1rem, 5.5vw, 10rem);
}


.role {
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 3px;
    font-style: italic;
    font-family: "FuturaBQ-LightOblique" !important;
    font-size: clamp(1rem, 2.5vw, 2rem);
    /* width: 35rem; */
}




.deconstructed {
    position: relative;
    margin: auto;
    height: 1.21em;
    color: transparent;
    font-family: "PlayfairDisplay" !important;
    font-size: 9vw;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
    font-style: italic;
    padding: 3px 6px;
}
  .deconstructed > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    pointer-events: none;
  }
  
  .deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 5s infinite;
  }
  
  .deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: deconstructed2 5s infinite;
  }
  
  .deconstructed > div:nth-child(3) {
     -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: deconstructed3 5s infinite;
  }
  
  .deconstructed > div:nth-child(4) {
     -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 5s infinite;
  }
  
  @keyframes deconstructed1 {
    0% {
      transform: translateX(100%);
    }
    26% {
      transform: translateX(0%);
    }
    83% {
      transform: translateX(-0.1%);
    }
    100% {
      transform: translateX(-120%);
    }
  }
  
  @keyframes deconstructed2 {
    0% {
      transform: translateX(100%);
    }
    24% {
      transform: translateX(0.5%);
    }
    82% {
      transform: translateX(-0.2%);
    }
    100% {
      transform: translateX(-125%);
    }
  }
  
  @keyframes deconstructed3 {
    0% {
      transform: translateX(100%);
    }
    22% {
      transform: translateX(0%);
    }
    81% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  
  @keyframes deconstructed4 {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }








@media (max-width:600px){
    
    .txtonimg {
        margin-top: 3rem;
    }
.bodyimg img {

    height: 35rem;

}
}