@font-face {
    font-family: "PlayfairDisplay";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
      url("./PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  }


.profile_img {
    height: 14rem;
}

.profile_img img {
    width: 10rem;
    object-fit: cover;
    border-radius: 2rem;
    padding: 14px;
    height: 12rem;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 21px;
    color: #fff;
    align-items: center;
    height: 44rem;
    margin-left: 30px;
}

.bodyimg img {
    width: 100vw;
    height: 44rem;
    object-fit: cover;
    opacity: 0.70;
    filter: brightness(0.5);
}

.total_main {
    display: flex;
    gap: 6rem;

}

h1 {
    font-family: "PlayfairDisplay" !important;
    font-size: 30px;
}
h2 {
    font-size: 20px;
    font-weight: 400;
    font-family: "FuturaBQ-LightOblique" !important;
    letter-spacing: 1px;
}h3 {
    font-size: 19px;
    font-weight: 400;
    text-align: start;
    font-family: "FuturaBQ-LightOblique" !important;
    letter-spacing: 2px;
}
.resumebtn {
    color: #fff;
    background: none;
    border: 1px solid #fff;
    width: 12rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-family: "FuturaBQ-LightOblique" !important;
    letter-spacing: 1px;
}
.resumebtn:hover{
    color: #fff;
    background: #08385d;
}
a {
    color: #fff;
    text-decoration: none;

}

.resumebtn::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
    margin: 1px 21px;
}

.resumebtn:hover::after {
    width: 149px;
    margin: 1px 21px;
}
  


.txtonimg {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: baseline;
    font-style: normal;
    margin-top: -26rem;
    margin-left: 16rem;
    color: #fff;
    gap: 12px;
    height: 25.6rem;
}
.name {
    font-family: "PlayfairDisplay" !important;
    font-size: 72px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 3px;
    font-style: italic;
    width: 29rem;
}.hlo {
    font-size: 30px;
    letter-spacing: 3px;
    font-family: "FuturaBQ-LightOblique" !important;
}.role {
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 3px;
    font-style: italic;
    font-family: "FuturaBQ-LightOblique" !important;
}