.navbar {
  height: 119px;
  width: 100%;
  background: #224e6f;
  color: white;
  display: grid;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 1rem;
  font-size: 1.2rem;
  gap: 16px;
  grid-template-columns: repeat(2, auto);
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 48px;
  list-style: none;
  font-family: 'FuturaBQ-LightOblique';
  font-size: clamp(1rem, 1.5vw, 2rem);
}

  
  .nav-logo {
    text-decoration: none;
    color: white;
  }
  .r1 {
    width: 143px;
    max-width: 143px;
    min-width: 72px;
}
  
  .nav-link {
    text-decoration: none;
    color: white;
  }
  
  .nav-link:hover {
    color: red;
  }
  
  .nav-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
  .t_1{
    display: none;
    }

li{
  cursor: pointer;
}


li:hover {


  text-shadow: -3px 1px 7px rgba(255, 255, 255, 0.7);
}

    @media (max-width:1000px){
      .nav-links {
     
        grid-gap: 28px;
        font-size: clamp(16px, 1.4vw, 2rem);
    
    }
    }

    @media (max-width:800px){
      .nav-links {
        grid-gap: 7px;
        font-size: clamp(15px, 1.3vw, 2rem);
        grid-template-columns: repeat(4, auto);
        grid-gap: 7px;
    }


    .hlo {
   
      font-size: clamp(2rem, 2.5vw, 2rem) !important;
  }

  
.role {

  font-size: clamp(2rem, 2.5vw, 2rem)!important;

}

.name {

  font-size: clamp(1rem, 6.5vw, 10rem)!important;
}
    }
    .overlay{
      display: none;
    }
  
  @media (max-width:600px) {
    .overlay{
      display: none;
    }
   
.t_1{
display: none;
}

    .navbar {
      position: fixed;
      z-index: 1000;
    }
  
    
.nav-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* text-align: center; */
  width: 100%;
  top: 80px;
  left: -80%;
  transition: 0.5s;
  top: 119px !important;
  gap: 13px;
  place-content: center;
  align-items: center;

}

  
    
  
    .nav-item {
      padding: 10px 0;
    }
  
   


    .nav-icon {
      /* display: flex; */
      display: grid;
      grid-template-columns: repeat(1, auto);
      margin-left: 66%;
      padding: 11px 3px;
      z-index: 10;
  }
  
  .nav-links.active {
      background: #ffffff;
      left: 0;
      top: 118px;
      height: 154%;
      color: #224e6f;
      font-weight: 800;
  }


  .hlo {
   
    font-size: clamp(18px, 2.5vw, 2rem) !important;
}


.role {
  font-size: clamp(20px, 2.5vw, 2rem)!important;
}

.name {

font-size: clamp(18px, 6.5vw, 10rem)!important;
}


.overlay {
  display: block;
  background: black;
  height: 38rem;
  width: 0%;
  position: absolute;
  z-index: -1;
  top: 11px;
  /* left: 0px; */
  opacity: 34%;
}
.overlay.active {
  display: block;
  background: black;
  height: 51rem;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: -1px;
  left: 0px;
  opacity: 24%;
  transition: 0s linear;
}
  }
  